<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div th:switch="${permissionGroup}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <p class="my-5"><a href="/groups/signup" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
            <h2 th:case="null">No groups yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Group list</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="permissionGroup : ${permissionGroups}">
                        <td th:text="${permissionGroup.name}"></td>
                        <td><a th:href="@{/groups/edit/{id}(id=${permissionGroup.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/groups/delete/{id}(id=${permissionGroup.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                    </tr>
                    <tr>
                        <td colspan="5" th:text="${ourValue}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>